{% extends "base.html" %}
{% block title %}Sign in{% endblock %}

{% block main_content %}

	<section class="frame">
		{% if messages %}
		<div style="color:red">
		{% for m in messages %}
			{{ m }}{% if not forloop.last %}<br/>{% endif %}
		{% endfor %}
		</div>
		{% endif %}

		<form class="form-signin" action="" method="post">
			{% csrf_token %}
		  <h2 class="form-signin-heading">Please sign in</h2>
		  <input type="text" name="username" id="id_username" class="input-block-level" placeholder="Email address">
		  <input type="password" name="password" id="id_password" class="input-block-level" placeholder="Password">
		  <button class="btn btn-large btn-primary" type="submit">Sign in</button>
		</form>
	</section>

{% endblock %}